body {
  background-image: url("https://images.vexels.com/media/users/3/72022/raw/9f7750e18e0a258f880e42875336ae3d-tear-off-paper-movie-film-background.jpg");
}

.movie-display {
  padding: 100px;
}

.movies {
  width: 250px;
  height: 400px;
  padding: 10px;
}

.searchInput {
  width: 350px;
  padding: 15px;
}

.display {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 60px 20px;
}

.moviePoster {
  width: 300px;
}

.info {
  width: 50%;
}